.body {
    background-image: url('file:///Users/vlad/Downloads/Snapseed 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px;
    padding: 10px;
    font-family: arial;
}